.App {
  font-family: sans-serif;
  text-align: center;
}
li {
  list-style: none;
}
/* .dropdown:before {
  content: "";
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: transparent transparent purple transparent;
} */
